@import url('https://fonts.googleapis.com/css2?family=Cantora+One&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.main-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  padding: 6rem 12rem 6rem 12rem;
  background-color: rgb(35, 44, 60);
}

/* Left container */
#left-container {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  background-image: url(background.jpg);
  background-size: cover;
}
#logo-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(35, 44, 60, 0.75);
  flex: 1;
}
#logo-img {
  height: 75px;
}
#logo-text {
  color: white;
  font-family: 'Cantora One', sans-serif;
  font-size: 1.5rem;
  margin-left: 10px;
}

/* Right container */
.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
  background-color: rgba(255, 255, 255, 0.9);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#dummy-text {
  margin-top: 4rem;
  font-weight: 500;
  padding: 2rem;
}
#dummy-second-para {
  margin-top: 1rem;
  font-weight: bold;
}
form {
  margin-bottom: 4rem;
}
#form-title {
  margin-bottom: 0.5rem;
}
#form-inputs {
  background-color: white;
}

button {
  background-color: rgb(35, 44, 60);
  padding: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  border-style: none;
  color: white;
}
#blue-text {
  color: rgb(35, 44, 60);
}
#company-name {
  font-family: 'Cantora One', sans-serif;
}
