@import url('https://fonts.googleapis.com/css2?family=Cantora+One&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.main-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  padding: 6rem 12rem 6rem 12rem;
  background-color: rgb(35, 44, 60);
}
#image-container {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}
#logo-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(35, 44, 60, 0.75);
  flex: 1;
}
#logo-img {
  height: 75px;
}
#logo-text {
  color: white;
  font-family: 'Cantora One', sans-serif;
  font-size: 1.5rem;
  margin-left: 10px;
}
#image-container {
  background-image: url(background.jpg);
  background-size: cover;
}
.form {
  flex: 2;
  background-color: rgba(255, 255, 255, 0.9);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
